.age-control
{
  box-sizing: border-box;
  background-image: href="maxresdefault.jpg";
  background-size:contain;
  background-repeat: no-repeat;
  background-position: top;
  background-color: black;
  font-family: verdana;
  font-size: 120%;
  border: 2px solid white;
  color: white;
  width: 600px;
  height: 850px;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  padding: 30px;
}
